<form method="post" action="{{ path('app_ardoise_delete', {'id': ardoise.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ardoise.id) }}">
    <button class="form-button">Supprimer</button>
</form>
